html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
      /* font-size: 14px; */
  }
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

p {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  color: #ffffff;
  line-height: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.15px;
}

code {
  padding: 3px 6px;
  border-radius: 6px; 
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14px;
  color: #B71C1C;

  background-color: rgba(0, 0, 0, 0.2);
}

a {
  display: block;
  margin-bottom: 12px;
  color: #ffffff;
  text-decoration: none;
}

a:not(:last-of-type) {
  margin-bottom: 12px;
}

a:hover {
  text-decoration: underline;
}
.page-header {
  padding-left: 20px;
  padding-right: 20px;
  grid-row: 1 / 2;
}

.header-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.header-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #c4c4c3;
}

.header-nav {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;

  box-shadow: 0 4px 5px -3px #000;
  background-color: #698567;
}

.header-nav__list {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-link {
  margin: 0;
  display: block;
}
     /*footer*/
     .page-footer {
       padding-top: 16px;
       padding-bottom: 16px;
       grid-row: 3 / 4;
       display: flex;
       justify-content: space-between;
       background-color: rgba(0, 0, 0, 0.2);
     }

     .footer-caption {
       margin: 0;
       padding: 0;
       text-align: center;
       color: #808080;

       font-size: 14px;
       font-style: normal;
       font-weight: 400;
       line-height: normal;
     }
.page-category {
  padding-top: 20px;
  padding-bottom: 20px;
  grid-row: 2 / 3;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.page-category h2 {
  margin-top: 32px;
}
.article {
  padding-top: 20px;
  padding-bottom: 20px;
  grid-row: 2 / 3;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

/*link*/
 main.article.container a {
  padding: 6px 12px;
  display: block;
  color: #000000;
  background-image: linear-gradient(to top, #645b4c, #817562);
  box-shadow: 0 4px 5px -3px #000000;
}

main.article.container a:hover {
  text-decoration: none;
}

/*headings*/

main.article.container h3 {
  margin-top: 32px;
}


    .sign {
      background-image: linear-gradient(to top, #657c84, #677f87);
    }
