.page-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.page-article hr {
  margin-bottom: 32px;
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--dark-green);
}

.page-article blockquote {
  margin: 0;
  padding: 0;
}

.page-article blockquote>p {
  margin-top: 0;

  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: var(--green);
  text-transform: uppercase;
}

/*Headings*/
.page-article h1 {
  font-family: "JetBrains Mono", monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  color: var(--light-green);
}

.page-article h3 {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;

  display: block;
  width: 100%;

  border: 1px solid var(--green);

  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: var(--light-green);
  text-transform: uppercase;
}

.page-article pre {
  margin-top: 16px;
  margin-bottom: 16px;
}

.page-article a:hover {
  color: var(--green);
  text-decoration: none;
}

.page-article a:not(:last-of-type) {
  margin-bottom: 12px;
}

.page-article p:not(:last-of-type) {
  margin-bottom: 32px;
}

.page-article img {
  height: 60px;
  width: auto;
}

.page-article ul {
  margin-top: 16px;
}

.page-article ul:not(:last-of-type) {
  margin-bottom: 24px;
}

.page-article li {
  padding-left: 16px;
  position: relative;
}

.page-article li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 7px;
  left: 0px;
  background-color: var(--green);
}



/*link*/
/* main.article.container a {
  padding: 6px 12px;
  display: block;
  color: #000000;
  background-image: linear-gradient(to top, #645b4c, #817562);
  box-shadow: 0 4px 5px -3px #000000;
}

main.article.container a:hover {
  text-decoration: none;
}


main.article.container h3 {
  margin-top: 32px;
}


.sign {
  background-image: linear-gradient(to top, #657c84, #677f87);
} */