.page-footer {
  padding-top: 12px;
  padding-bottom: 12px;
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-green);
}

.footer-caption {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--light-green);

  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}