.page-header {
  padding-left: 20px;
  padding-right: 20px;
  grid-row: 1 / 2;

}

.header-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.header-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #c4c4c3;
}

.header-nav {
  margin-top: 24px;
  padding-top: 9px;
  padding-bottom: 9px;

  /* box-shadow: 0 4px 5px -3px #000; */
  background-color: var(--light-green);
}

.header-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 30px;
}

.header-link {
  margin: 0;
  display: block;

  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  font-weight: 700;
  color: #04070C;
  text-transform: uppercase;
}

.header-link:hover {
  text-decoration: none;
}

.header-link.active {
  color: #212121
}