/* Боковая навигационная панель */

.sidebar {
  display: none;
  grid-column: 1 / 2;
  height: 100%;
  border: 1px solid var(--green);
}

@media (min-width: 900px) {
  .sidebar {
    display: block;
  }
}