:root {
  --light-green: #4ADD8F;
  --green: #3C6253;
  --dark-green: #041B15;
  --blue: #3B5B66;
  --light-blue: #00;
  --white: #BFD6E8;
  --orange: #D47F25;
  --grey: #807C72;
  --dark-grey: #616161;
  /* --tablet: 900px; */
}