{# Шаблон страницы документации #}

{% include 'header.njk' %}
  <main class="page-main"> 
    {% include 'sidebar.njk' %}
    <div class="article">
      {{ content | safe }}
    </div>
  </main> 
{% include 'footer.njk' %}