{# Шаблон категории #}

{% include 'header.njk' %}
  <main class="page-main"> 
    {% include 'sidebar.njk' %}
      <div class="page-category">
      {{ content | safe }}
    </div>
  </main> 


{% include 'footer.njk' %}